[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/icu"]
	path = external/icu
	url = https://github.com/unicode-org/icu.git
[submodule "external/FindICU.cmake"]
	path = external/FindICU.cmake
	url = https://github.com/julp/FindICU.cmake.git
